.top_bar {
    width: 100%;
    min-width:1050px;
    margin: 0 0 10px 0;
    height:3em;
    background: blue;
    border-bottom: .25em solid green;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-size:2em;
    margin-left:1em;
    position: relative;
    top: 9px;
}

.logo a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin:10px;
}
nav a {
    position: relative;
    color:#fff;
    text-decoration: none;
    font-size:1.2em;
}

nav a:hover {
    border-bottom: 7px solid #fff;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 .8px;
    width: 75%;
    min-width: 950px;
}

.column {
    background: #fff;
    padding:.8em;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

.user_details {
    width: 250px;
    float:left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}